

body{
background:cornsilk;
font-size:2em;
width:100%;}



form{
width:75%;
max-width:500px;
margin:auto;
}

.btn{font-size:3em;}

form .btn{font-size:1.5em;}


     .logo {
	position:relative;
	margin:5%;
	width:95%;
	max-width:680px;
}

.center {
           margin-left: auto;
	   margin-right:auto;
	text-align:center;
	width:100%;
	min-width:100px;
	max-width:700px;
    }

h1{margin-top:0px; margin-bottom:0px;}

table, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{border:none;}
.research, .condition {
text-align:left;
}
tr{border: 1px solid #ddd;}
.r_name, .c_name{font-weight:bold;}


.institute, .city, .email {font-size:0.75em;}

.transparent-header{
    background: url("../images/test.jpg") center / cover;
    background-position: center 20%;
}

.transparent-compheader{
    background: url("/images/competition.uberbots.png") center / cover;
    background-position: center 10%;
}

.transparent-header .mdl-layout__header,
.transparent-header .mdl-layout__drawer-button,
.member-name {
    color: white;
}

.transparent-compheader .mdl-layout__header,
.transparent-compheader .mdl-layout__drawer-button,
.member-name {
    color: white;
}
