
html{background:black;}
body{
font-size:2em;
width:100%;
	background-image: none;
 
}
.mdl-layout__header{background:transparent!important;}


form{
width:75%;
max-width:500px;
margin:auto;
}

.btn{font-size:3em;}

form .btn{font-size:1.5em;}


     .logo {
	position:relative;
	margin:5%;
	width:95%;
	max-width:680px;
}

.center {
           margin-left: auto;
	   margin-right:auto;
	text-align:center;
	width:100%;
	min-width:100px;
	max-width:700px;
    }

h1{margin-top:0px; margin-bottom:0px;}

table, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{border:none;}
.research, .condition {
text-align:left;
}
tr{border: 1px solid #ddd;}
.r_name, .c_name{font-weight:bold;}


.institute, .city, .email {font-size:0.75em;}

.biography-name{
    font-size: 20px;  
    text-align: left;
    text-indent: 150px;
    color: white;
}

.description-text {
    font-size: 16px;
    color: white;
    line-height: 25px;
    text-align: center;
    width: 800px !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    margin-left: auto !important;
    margin-right: auto !important;
}

.mdl-mini-footer
{position:float!important;
	bottom:0px;
	
	
}
